
header{
    position:relative;
    padding: 20px;
    background-color: white;
    border-bottom: 3px solid #666666;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-size: 20px;
    margin-bottom: 50px; /* reserve space for footer */
    font-family: Arial, Helvetica, sans-serif
}

#box {
    float:left;
    position: absolute;
    background-color:#4aaaa5;
    padding: 20px;
    margin: 0;
    bottom:0px;
    left: 360px;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #eee;
    text-align: center;
}

#text{
   position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 28px;
   color: #4aaaa5;
    margin-top: 20px;
    top: 120px;
    right: 67%;
}

.wrapper
{
padding: 20px;
background-color: lightgray;
}

#container
{
width: 960px;
margin: 0 auto;
background-color: white;
}

#navigation {
    position:absolute;
    top: 50%;
    left: 70%;
    float:right;
    padding-right: 1%;
    color: grey;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li:not(:first-child):before {
    content: " | ";
}

footer{
    position: relative;
    font-size: 12px;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
    background-color:#666666;
    border-top: solid 3px #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

}
html {
    position: relative; /* make sure footer will not block the content */
    min-height: 100%; /* make sure footer stay at bottom with smaller content */ 
  }